.team {
	background-color: var(--fourth-bgcolor);

	&__main-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;

		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		gap: 30px;
	}

	&__item {
		background-color: var(--primary-white-color);
		width: calc((100% - 90px) / 4);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;

		text-align: center;
		letter-spacing: 0.03em;

		margin-top: 30px;
		margin-bottom: 10px;
	}

	&__info {
		font-size: 16px;
		line-height: 1.19;

		text-align: center;
		letter-spacing: 0.03em;
	}
	&__list-icon {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin: 16px 32px 30px 32px;
	}
}

.social-icon__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	fill: #afb1b8;

	transition: fill var(--transition-function), background-color var(--transition-function);

	&:hover,
	&:focus {
		fill: var(--primary-white-color);
		background-color: var(--accent-color);
	}
}

// .team-link-icon:hover,
// .team-link-icon:focus {
// 	fill: var(--primary-white-color);
// 	background-color: var(--accent-color);
// }
