.header {
	background-color: var(--first-bgcolor);
	border-bottom: 1px solid #ececec;
	> .container {
		display: flex;
		align-items: center;
	}
}

.navigation {
	display: flex;
	align-items: center;

	&__list {
		display: none;

		@media screen and (min-width: 480px) and (min-width: 768px) {
			display: flex;
			margin-left: 87px;
		}
		@media screen and (min-width: 1200px) {
			display: flex;
			margin-left: 93px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;

		color: var(--title-text-color);

		display: inline-block;

		padding-top: 32px;
		padding-bottom: 32px;

		transition: color var(--transition-function);

		.active {
			color: var(--accent-color);
		}
		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}
	.active {
		position: relative;
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background-color: var(--accent-color);
		}
	}
}

.header__list-contacts {
	display: none;

	@media screen and (min-width: 480px) and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-left: 74px;
	}
	@media screen and (min-width: 1200px) {
		// display: flex;
		margin-left: auto;
		gap: 30px;
		align-items: center;
	}
}

.contacts__mail,
.contacts__tel {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.02em;

	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.14;
	}

	color: var(--primary-text-color);

	display: inline-block;

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	transition: color var(--transition-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.contacts__icon {
	margin-right: 10px;
	fill: currentColor;
}

.icon-tel {
	vertical-align: -2px;
}

.menu-open {
	width: 40px;
	height: 40px;
	background-color: var(--first-bgcolor);
	border: none;

	background-image: url(../images/menu_mob.svg);
	background-repeat: no-repeat;
	background-position: center;

	margin-left: auto;
	padding: 22px;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
