.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	&__prefix {
		color: var(--accent-color);
	}

	&__suffix-header {
		color: var(--logo-black-color);
	}

	&__suffix-footer {
		color: var(--primary-white-color);
	}
}
