.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity var(--transition-function), visibility var(--transition-function);
}

// .backdrop.is-hidden .modal {
// 	transform: translate(-50%, -50%) scale(0);
// }

.modal {
	width: 528px;
	min-height: 581px;

	background-color: var(--first-bgcolor);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition-function);

	padding: 40px;

	.backdrop.is-hidden & {
		transform: translate(-50%, -50%) scale(0);
	}
}

.modal__btn {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;
	background-color: var(--first-bgcolor);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	background-image: url(../images/close-black.svg);
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
	transition: background-image var(--transition-function);

	&:hover,
	&:focus {
		background-image: url(../images/close-blue.svg);
	}
}
// .modal-btn:hover,
// .modal-btn:focus {
// 	background-image: url(../images/close-blue.svg);
// }

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
	margin-bottom: 12px;
}

.modal__field {
	margin-bottom: 10px;
}

.modal__form {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);

	display: block;
	margin-bottom: 4px;
}

.modal__input-wrap {
	position: relative;
}

.modal__input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 40px;

	outline: transparent;
	cursor: pointer;
	transition: border var(--transition-function);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
	}
}

// .modal-input:hover,
// .modal-input:focus,
// .user-text:hover,
// .user-text:focus {
// 	border: 1px solid var(--accent-color);
// }

.modal__input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill var(--transition-function);

	.modal__input:focus + & {
		fill: var(--accent-color);
	}
}

// .modal-input:focus + .input-icon {
// 	fill: var(--accent-color);
// }

.modal__field-text {
	margin-bottom: 20px;
}

.modal__user-text {
	width: 448px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	padding: 12px 16px;

	outline: transparent;
	cursor: pointer;
	transition: border var(--transition-function);

	&::placeholder {
		font-size: 12px;
		line-height: 1.16;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}
	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
	}
}

// .user-text::placeholder {
// 	font-size: 12px;
// 	line-height: 1.16;
// 	letter-spacing: 0.01em;

// 	color: rgba(117, 117, 117, 0.5);
// }

.modal__checkbox {
	display: flex;
	justify-content: center;
}

.modal__form-check {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	display: flex;
	align-items: center;
}

.modal__check {
	width: 16px;
	height: 15px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal__check-icon {
	fill: transparent;
	.modal__user-check:checked + .modal__form-check & {
		fill: var(--primary-white-color);
	}
}
.modal__user-check:checked + .modal__form-check span {
	border: none;
	background-color: var(--accent-color);
	transition: border-color var(--transition-function);
}

.modal__user-check:hover + .modal__form-check span,
.modal__user-check:focus + .modal__form-check span {
	border-color: var(--accent-color);
}

// .modal-user-check:checked + .modal-form-check .check-icon {
// 	fill: var(--primary-white-color);
// }

.modal__check-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration-line: underline;

	color: var(--accent-color);
}

.submit__btn {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: var(--primary-white-color);

	width: 200px;
	height: 50px;
	background-color: var(--accent-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	cursor: pointer;

	display: block;
	margin: 0 auto;
	margin-top: 30px;

	transition: background var(--transition-function);

	&:hover,
	&:focus {
		background: var(--second-btn-color);
	}
}

// .submit-btn:hover,
// .submit-btn:focus {
// 	background: var(--second-btn-color);
// }
