h2,
h3 {
	color: var(--title-text-color);
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
